.btn-active{
    background-color: cadetblue;
    color: antiquewhite
}

.action-button{
    margin:1px;
    width:max-content;
}

button{ 
   
    padding-right:7px;
    padding-left:7px;
    padding-top:5px;
    padding-bottom:5px;
    border:none;
    border-width : 2px ;
    color: white;
    background-color: dimgray; 
}

 button:hover{
    cursor: pointer;
    background-color: dimgray;
    color: khaki
}
.danger{ background-color:  red; color:white }
.danger:hover{  background-color:  red; }

.warning{  background-color:  orange; color:white}
.warning:hover{  background-color:  orange; }

.success{  background-color: green  ; color:white}
.success:hover{  background-color:  green; }

.submit{  background-color:  royalblue; color: white}
.submit:hover{  background-color:  royalblue; }



/*===============TOGGLE===================*/
.toggle-outer{
    width:24px;
    background-color: blue;
    height: 14px;
    border-radius: 7px;
    margin-right:5px;
     
    transition-duration: 200ms;
}
.toggle-outer:hover{
    cursor: pointer;
}

.outer-inactive{
    background-color: gray;
}

.toggle-inner{
    width:12px;
    height: 12px;
    border-radius: 6px;
    margin-top:1px;
    margin-left:1px;
    transition-duration: 200ms;
    background-color: white;
   
}

.inner-inactive{
    margin-left:11px;
}