.chat-item{
    
    margin-bottom: 10px;
    background-color: lightgreen;
    color:darkblue;
    text-align: left;
    padding:3px;
}

.admin{
    background-color: lightyellow; 
}

.user{
    margin-left: 10%
}
.chat-container{
    
  /*  max-height: 600px;
     overflow: scroll;*/
      width: 50%;
      margin: 5px;
}

#chat-room{
    background-color: lightsteelblue;
    padding:3px;
    margin:5px
}